:root {
    --blue: #89cff0;
    --yellow: #ffda47;
}


.navbar-text {
    font-family: "Newsreader", serif;
    /* font-optical-sizing: auto; */
    font-weight: 700;
    font-size: 20px;
    color: black;
  }

p {
    font-family: "Newsreader", serif;
    /* font-optical-sizing: auto; */
    font-weight: 700;
    font-size: 14px;
    color: black;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.menu-section {
    font-family: "Newsreader", serif;
    /* font-optical-sizing: auto; */
    font-weight: 700;
    font-size: 22px;
    color: black;
}

.page-title {
    font-family: "Newsreader", serif;
    /* font-optical-sizing: auto; */
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    color: black;
}

.background {
    background: linear-gradient(red, yellow);
}

.h2 {
    font-family: "Newsreader", serif;
    /* font-optical-sizing: auto; */
    font-weight: 450;
    color: rgb(74, 74, 74);
}

.description {
    font-family: "Newsreader", serif;
    font-weight: 300;
    font-size: larger;
    color: rgb(110, 110, 110);
    margin-bottom: 0;
}
.login {
    margin-bottom: 0;
    font-weight: 700;
}

.overview {
    font-family: "Newsreader", serif;
    background-color: rgb(218, 218, 218);
}

.credentials {
    background-color: white;
}

.container-fluid {
    width: 90%;
    height: 80%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.menu{
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

.thorne{
    background-color: var(--blue);
}

.moulton{
    background-color: var(--yellow);
}

/* This is to stack sign up input over each other */
input, label {
    display:block;
}

.no-gutters {
    margin-right: calc(-50vw + 50%);
    margin-left: calc(-50vw + 50%);
}

.no_scroll {
    overflow: hidden;
}