:root {
    --blue: #4f88d7;
    --yellow: #ffda47;
}


.navbar-text {
    font-family: "Newsreader", serif;
    /* font-optical-sizing: auto; */
    font-weight: 700;
    font-size: 20px;
    color: black;
  }

p {
    font-family: "Newsreader", serif;
    /* font-optical-sizing: auto; */
    font-weight: 700;
    font-size: 14px;
    color: black;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.med-text {
    font-family: "Newsreader", serif;
    /* font-optical-sizing: auto; */
    font-weight: 700;
    font-size: 22px;
    color: black;
}

.page-title {
    font-family: "Newsreader", serif;
    /* font-optical-sizing: auto; */
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    color: black;
}

.background {
    background: linear-gradient(red, yellow);
}

.h2 {
    font-family: "Newsreader", serif;
    /* font-optical-sizing: auto; */
    font-weight: 450;
    color: rgb(74, 74, 74);
}

.description {
    font-family: "Newsreader", serif;
    font-weight: 300;
    font-size: larger;
    color: rgb(110, 110, 110);
    margin-bottom: 0;
}
.login {
    margin-bottom: 0;
    font-weight: 700;
}

.overview {
    font-family: "Newsreader", serif;
    background-color: rgb(218, 218, 218);
}

.credentials {
    background-color: white;
}

.container-fluid {
    width: 90%;
    height: 80%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.rounded-container{
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

.thorne-border{
    border-style: solid;
    border-color: var(--blue);
}

.moulton-border{
    border-style: solid;
    border-color: var(--yellow);
}

/* This is to stack sign up input over each other */
input, label {
    display:block;
}

.no-gutters {
    margin-right: calc(-50vw + 50%);
    margin-left: calc(-50vw + 50%);
}

.no_scroll {
    overflow: hidden;
}
.student-container {
    display: flex;
    justify-content: space-between; /* Align items with space between them */
    align-items: center; /* Vertically center align items */
}

/* Style for student text */
.student-text {
    font-family: "Newsreader", serif;
    font-weight: 700;
    font-size: 18px;  /* Adjust the size as needed */
    color: black;
}

/* Button container */
.button-container {
    display: flex; /* Use flexbox for button container */
}

/* General button styles */
button {
    font-size: 14px;
    padding: 7px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;

    cursor: pointer;
}

/* Different styles for different button actions */
button.add {
    background-color: var(--blue);
    color: white;
}

button.hide {
    background-color: #f44336;
    color: white;
}

button.undo {
    background-color:var(--yellow);
    color: black;
}

button.accept {
    background-color: var(--blue);
    color: white;
}

button.decline {
    background-color: #f44336;
    color: white;
}

button.remove {
    background-color: var(--yellow);
    color: black;
}

.student-text {
    font-family: "Newsreader", serif;
    font-weight: 700;
    font-size: 18px;  /* Adjust the size as needed */
    color: black;
}